.project-con {
 transform:scale(0.9,0.9);
 border-top:4px solid #EC5252;
 width: 380px;
 height:151px;
}
/* delayed ->  #EC5252, pending -> */
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}